# Don't save secret files

secrets/*
/secrets/certs/*
!/secrets/.keep
!secrets/certs
!/secrets/certs/.keep
# Don't save SSL certs
*.env
wp-config.php

# Don't save database files
/db/data/*
!/db/data/.keep

# Dont save wordpressbackup files
/www/html/wp-content/updraft/*
!/www/html/wp-content/updraft/web.config

# Don't save uploads folder (this is saved in backups)
/www/html/wp-content/uploads/*


